<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit page</title>
</head>
<body>
    <h1>Edit your post here</h1>
    <p>Fill form to edit the post</p>
    <form action="/post/<%= post.id %>/edit?_method=PATCH" method="POST">
        <label for="department">Edit your department</label>
        <input type="text" name="department" value="<%= post.department %>" required>
        <br><br>
        <label for="skills">Edit your skills</label>
        <input type="text" name="skills" value="<%= post.skills %>" required>
        <br><br>
        <button type="submit">Update Post</button>
        <a href="/">Cancel</a>
    </form>
    
</body>
</html>