<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="">choose file</label>
    <input type="file" name="upload" id="upload" placeholder="choose">
    <br>
    <button>submit</button>
</body>
</html>